body {
    background-color: #ffffff;
    background-image: url("./images/square_bg_@2X.png");
}

.navbar {
    margin: 0 15%;
    background-color: transparent;
}

.navbar>li>a:hover, .navbar>li>a:focus {
    background-color: transparent;
}

.navbar-brand,
.navbar-link,
.btn {
    margin-left: 12px;
    margin-right: 12px;
}

.navbar-brand {
    margin-left: 0;
}
.navbar-toggle {
    margin-right: 0;
}

.card {
    margin-top: 2%;
    margin-bottom: 2%;
    width: 70%;
}
input {
    width: 50%;
    align-content: center;
}
#qtyRow {
    text-align: center;

}

.totalCart {
    text-align: right;
    padding: 5%;
    font-style: bold;
}

@media only screen and (max-width: 600px) {

    .add-to-cart {

    }


}